@using Newtonsoft.Json;
@using Portal.Models.IslerModels;
@using Portal.Models;
@model object

@{
    ViewBag.Title = "Satış Detay ";
    var butunEtiketler = CacheManagement.Get<Etiket>(CacheKeys.ETIKETS);
    var guncelKullanici = Partial.GuncelKullanici();
    var satisAsamaEtiketleri = butunEtiketler.Where(x=>x.Kategori== "EtiketSatisAsamaId");
    var firsatDurumEtiketleri = butunEtiketler.Where(x => x.Kategori == "EtiketSatisFirsatDurumuId");
    var gorusmeEtiketleri = butunEtiketler.Where(x => x.Kategori == "EtiketSatisGorusmeTypeId");
    //var satisFirsati = Model;
    var satisFirsatiStr= JsonConvert.SerializeObject(Model, Formatting.Indented,
        new JsonSerializerSettings{ReferenceLoopHandling = ReferenceLoopHandling.Ignore});
 
 }
<div ng-controller="satisFirsatlarDetailCtrl" ng-init="init(guncelKullanici='@JsonConvert.SerializeObject(guncelKullanici)',
     satisAsamaEtiketleri='@JsonConvert.SerializeObject(satisAsamaEtiketleri)',satisFirsati='@satisFirsatiStr',
     firsatDurumEtiketleri='@JsonConvert.SerializeObject(firsatDurumEtiketleri)',gorusmeEtiketleri='@JsonConvert.SerializeObject(gorusmeEtiketleri)')">
    <div class="row">
        <div class="col-md-12">
            <div class="mt-element-step">
                <div class="row step-background-thin">
                    <a href="javascript:;" ng-repeat="item in satisAsamaEtiketleri" ng-click="degistirEtiketSatisDurumu(item)">
                        <div  class="col-md-2  mt-step-col " ng-class="item.Value==satisFirsati.EtiketSatisAsamaId ? 'bg-green-steel': 'bg-grey-steel'">
                            <div class="mt-step-number">{{$index+1}}</div>
                            <div class="mt-step-title ">{{item.Text}}</div>
                        </div>
                    </a>      
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 col-sm-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Fırsat Detayları
                    </div>
                    <div class="actions">
                        <a href="/SatisFirsatis/Kaydet/{{satisFirsati.Id}}" class="btn btn-default btn-sm">
                            <i class="fa fa-pencil"></i> Düzenle
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row static-info">
                        <div class="col-md-5 name"> Müşteri </div>
                        <div class="col-md-7 value">
                           {{satisFirsati.Musteri}} 
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-5 name"> Fırsat Adı: </div>
                        <div class="col-md-7 value">{{satisFirsati.DomainKategori}}</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-5 name"> Fırsat Durumu: </div>
                        <div class="col-md-7 value">
                       
                         <a href="javascript:;" ng-repeat="item in firsatDurumEtiketleri" ng-click="degistirFirsatDurum(item)">
                             <span class="label " ng-class="item.Value==satisFirsati.EtiketSatisFirsatDurumuId ? 'label-success':'label-default'">{{item.Text}} </span>
                         </a>
                            @*<span class="label label-warning"> Açık </span>
                            <span class="label "> Satışa Dönüştü </span>*@
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-5 name"> İlk Teklif: </div>
                        <div class="col-md-7 value"> {{satisFirsati.Teklif}} TL </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-5 name"> Son Teklif: </div>
                        <div class="col-md-7 value"> {{satisFirsati.SonTeklif}} TL </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-5 name"> Kalan Süre: </div>
                        <div class="col-md-7 value"> {{satisFirsati.KalanSure}} Gün </div>
                    </div>

                    <div class="row static-info">
                        <div class="col-md-5 name"> Teklif Dosyası </div>
                        <div class="col-md-7 value"> <a ng-href="{{satisFirsati.DosyaYolu}}" class="btn purple-plum"> İndir </a> </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-bell-o"></i>Teklif Revizeleri
                    </div>
                    <div class="actions">
                        <a href="/SatisFirsatiFiyatRevizyons/Kaydet?satisFirsatId={{satisFirsati.Id}}" class="btn btn-primary btn-sm">
                            <i class="fa fa-plus"></i> Yeni Revize Fiyat
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-advance table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <i class="fa fa-briefcase"></i> Firma
                                    </th>
                                    <th class="hidden-xs">
                                        <i class="fa fa-calendar"></i> Tarih
                                    </th>
                                    <th>
                                        <i class="fa fa-shopping-cart"></i> Fiyat
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in satisFirsati.SatisFirsatiFiyatRevizyons">
                                    <td class="highlight">
                                        <div class="success"></div>
                                        <a href="javascript:;">{{satisFirsati.FirmaAdi}} </a>
                                    </td>
                                    <td class="hidden-xs"> {{tarihFormat(item.Tarih)}} </td>
                                    <td> {{item.Fiyat}} TL </td>
                                </tr>                              

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 col-sm-6">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">Görüşmeler</span>
                            <span class="caption-helper">{{satisFirsati.Gorusmeler.length}} görüşme.</span>
                        </div>
                    </div>   
                    </div>
                    <div class="portlet-body">
                        <div class="scroller" style="height: 338px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">

                            <div class="general-item-list">
                                <div class="item" ng-repeat="item in satisFirsati.Gorusmeler">
                                    <div class="item-head">
                                        <div class="item-details">
                                            <div class="label label-sm {{item.Etiket.Renk}}">
                                                <i class="{{item.Etiket.FontIcon}}"></i>
                                            </div>
                                            <a href="javascript:;" style="margin-left:2px" class="item-name primary-link">{{item.Gorusme.FirmaKisi.Ad}}&nbsp;
{{item.Gorusme.FirmaKisi.Soyad}}</a>
                                            <span class="item-label">{{tarihFormat(item.Gorusme.Tarih)}}</span>
                                        </div>
                                        <span class="item-status">
                                            <span class="badge badge-empty badge-success"></span> {{item.ProjeAdi}}
                                        </span>
                                    </div>
                                    <div class="item-body"> {{item.Gorusme.Note}} </div>
                                </div>

                            </div>
                        </div>

                    </div>

               
            </div>
            @*<div class="portlet light ">

                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-globe font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">Görüşmeler</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <!--BEGIN TABS-->
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 339px;">
                            <div class="scroller" style="height: 339px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible="0" data-initialized="1">
                                <ul class="feeds">
                                    <li ng-repeat="item in satisFirsati.Gorusmeler">

                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm {{item.Etiket.Renk}}">
                                                        <i class="{{item.Etiket.FontIcon}}"></i>
                                                    </div>

                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        <span class="label label-sm label-info">{{item.ProjeAdi}}</span>
                                                        {{item.Gorusme.Note}}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col2">
                                            <div class="date">{{tarihFormat(item.Gorusme.Tarih)}} </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--END TABS-->
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>*@
        </div>
        <div class="col-md-6">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-bell-o"></i>Firma Teklifleri
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-advance table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <i class="fa fa-briefcase"></i> İstek
                                    </th>
                                    <th class="hidden-xs">
                                        <i class="fa fa-user"></i> Kişi
                                    </th>
                                    <th>
                                        <i class="fa fa-shopping-cart"></i> Teklif
                                    </th>
                                    <th>
                                        <i class="fa fa-shopping-cart"></i> Son Fiyat
                                    </th>
                                    <th>
                                        <i class="fa fa-shopping-cart"></i> Durum
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in firmaTeklifler">
                                    <td class="highlight">
                                        <div class="success"></div>
                                        <a href="/SatisFirsatis/Details/{{item.Id}}" target="_blank">{{item.DomainKategori}} </a>
                                    </td>
                                    <td class="hidden-xs"> {{item.Musteri}} </td>
                                    <td> {{item.Teklif}} TL </td>
                                    <td> {{item.SonTeklif}} TL </td>
                                    <td>
                                        <span class="label {{teklifSatisFirsatiDurumuRenk(item.EtiketSatisFirsatDurumuId)}}"> {{teklifSatisFirsatiDurumuText(item.EtiketSatisFirsatDurumuId)}} </span>
                                        @*<span class="label label-warning"> Açık </span>
                                        <span class="label label-success"> Satışa Dönüştü </span>*@
                                    </td>
                                </tr>
                              
                             

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
        <div class="col-md-6">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-bell-o"></i>Kişiler
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-advance table-hover">
                            <thead>
                                <tr>
                                    <th class="hidden-xs"><i class="fa fa-user"></i> Kişi</th>
                                    <th><i class="fa fa-gear"></i> Görevi</th>
                                    <th><i class="fa fa-phone"></i> Telefon</th>
                                    <th><i class="fa fa-envelope-o"></i> EMail</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in satisFirsati.FirmaKisiler">
                                    <td class="hidden-xs">{{item.Ad}}&nbsp;{{item.Soyad}} </td>
                                    <td>{{item.Departman}}</td>
                                    <td>{{item.Tel}}</td>
                                    <td>{{item.Email}}</td>
                                </tr>
                       

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>

</div>   
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "List")*@
    </p>
@section css{
   <style id="ekstracssler">
    .mt-element-step .step-background-thin .mt-step-number {
        font-size: 80px !important;
        right: initial !important;
    }

    .bg-green-steel {
        background-color: #26C281 !important;
        color: white !important;
    }

    .mt-step-number {
        color: white !important;
    }

    .mt-element-step .step-background-thin .mt-step-title {
        text-align: left !important;
        padding-right: initial !important;
        padding-left: 50px !important;
        font-size: 28px !important;
    }

    .mt-step-col {
        border-right: 2px solid #ffffff !important;
        border-bottom: 2px solid #ffffff !important;
    }

    .feeds li .col1 > .cont > .cont-col2 > .desc {
        color: black;
    }

    .feeds li .col2 > .date {
        color: black !important;
    }
</style> 
    
}
@section scripts{
    <script src="~/js/controllers/satisFirsatlarDetailCtrl.js?v=9"></script>
    
    }
