@using Newtonsoft.Json;
@using Portal.Models.IslerModels;
@using Portal.Models;
@model SatisFirsati
@{
    ViewBag.Title = "Satış Detay ";
    var butunEtiketler = Partial.Etiketler();
    var guncelKullanici = Partial.GuncelKullanici();
    var satisAsamaEtiketleri = butunEtiketler.Where(x=>x.Kategori== "EtiketSatisAsamaId");
    var firsatDurumEtiketleri = butunEtiketler.Where(x => x.Kategori == "EtiketSatisFirsatDurumuId");
    var gorusmeEtiketleri = butunEtiketler.Where(x => x.Kategori == "EtiketSatisGorusmeTypeId");
    var i = 0;
    IEnumerable<SatisFirsatiFiyatRevizyon> satifFirsatiTeklifRevizeleri = Partial.SatisFirmastiTeklifRevizeleri(Model.Id);
 }
<div ng-controller="satisFirsatlarDetailCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="mt-element-step">
                <div class="row step-background-thin" ng-init="EtiketSatisAsamaId =@Model.EtiketSatisAsamaId">
                        @foreach (Etiket etiketim in satisAsamaEtiketleri)
                        {
                            <a href="javascript:;" ng-click="degistirEtiketSatisDurumu(@etiketim.Id,@Model.Id)">
                                <div class="col-md-2  mt-step-col" ng-class="@etiketim.Id == EtiketSatisAsamaId ? 'bg-green-steel': 'bg-grey-steel'">
                                    <div class="mt-step-number">@(i++)</div>
                                    <div class="mt-step-title ">@etiketim.Text</div>
                                </div>
                            </a>
                        }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Fırsat Detayları
                    </div>
                    <div class="actions">
                        <a href="/SatisFirsatis/Kaydet/@Model.Id" class="btn btn-default btn-sm">
                            <i class="fa fa-pencil"></i> Düzenle
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row static-info">
                        <div class="col-md-5 name"> Müşteri </div>
                        <div class="col-md-7 value">
                           @Model.Firma.FirmaAdi 
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-5 name"> Fırsat Adı: </div>
                        <div class="col-md-7 value">@Model.DomainKategori.DomainKategoriAdi</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-5 name"> Fırsat Durumu: </div>
                        <div class="col-md-7 value">
                         
                          @foreach (Etiket etiketim in firsatDurumEtiketleri)
                          {<a href="javascript:;" ng-click="degistirFirsatDurum(item)">
                                <span class="label  @if (etiketim.Id == Model.EtiketSatisFirsatDurumuId) { <text>label-success</text> } else { <text>label-default</text>}">@etiketim.Text</span>
                            </a>
                          }
                            @*<span class="label label-warning"> Açık </span>
                            <span class="label "> Satışa Dönüştü </span>*@
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-5 name"> İlk Teklif: </div>
                        <div class="col-md-7 value"> @(satifFirsatiTeklifRevizeleri.FirstOrDefault() != null ? satifFirsatiTeklifRevizeleri.FirstOrDefault().Fiyat : 0) TL </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-5 name"> Son Teklif: </div>
                        <div class="col-md-7 value"> @(satifFirsatiTeklifRevizeleri.LastOrDefault() != null ? satifFirsatiTeklifRevizeleri.LastOrDefault().Fiyat : 0) TL </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-5 name"> Kalan Süre: </div>
                        <div class="col-md-7 value"> @Model.Tarih Gün </div>
                    </div>

                    <div class="row static-info">
                        <div class="col-md-5 name"> Teklif Dosyası </div>
                        <div class="col-md-7 value"> <a ng-href="@Model.DosyaYolu" class="btn purple-plum"> İndir </a> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-bell-o"></i>Teklif Revizeleri
                    </div>
                    <div class="actions">
                        <a href="/SatisFirsatiFiyatRevizyons/Kaydet?satisFirsatId=@Model.Id" class="btn btn-primary btn-sm">
                            <i class="fa fa-plus"></i> Yeni Revize Fiyat
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-advance table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <i class="fa fa-briefcase"></i> Firma
                                    </th>
                                    <th class="hidden-xs">
                                        <i class="fa fa-calendar"></i> Tarih
                                    </th>
                                    <th>
                                        <i class="fa fa-shopping-cart"></i> Fiyat
                                    </th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (SatisFirsatiFiyatRevizyon firsat in satifFirsatiTeklifRevizeleri)
                                {
                                    <tr>
                                        <td class="highlight">
                                            <div class="success"></div>
                                            <a href="javascript:;">@Model.Firma.FirmaAdi </a>
                                        </td>
                                        <td class="hidden-xs"> @firsat.Tarih </td>
                                        <td>@firsat.Fiyat TL </td>
                                        <td>@firsat.Note</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">Görüşmeler</span>
                            <span class="caption-helper">{{satisFirsati.Gorusmeler.length}} görüşme.</span>
                        </div>
                    </div>   
                    </div>
                    <div class="portlet-body">
                        <div class="scroller" style="height: 338px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                            <div class="general-item-list">
                                <div class="item" ng-repeat="item in satisFirsati.Gorusmeler">
                                    <div class="item-head">
                                        <div class="item-details">
                                            <div class="label label-sm {{item.Etiket.Renk}}">
                                                <i class="{{item.Etiket.FontIcon}}"></i>
                                            </div>
                                            <a href="javascript:;" style="margin-left:2px" class="item-name primary-link">{{item.Gorusme.FirmaKisi.Ad}}&nbsp;
{{item.Gorusme.FirmaKisi.Soyad}}</a>
                                            <span class="item-label">{{tarihFormat(item.Gorusme.Tarih)}}</span>
                                        </div>
                                        <span class="item-status">
                                            <span class="badge badge-empty badge-success"></span> {{item.ProjeAdi}}
                                        </span>
                                    </div>
                                    <div class="item-body"> {{item.Gorusme.Note}} </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            @*<div class="portlet light ">

                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-globe font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">Görüşmeler</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <!--BEGIN TABS-->
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 339px;">
                            <div class="scroller" style="height: 339px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible="0" data-initialized="1">
                                <ul class="feeds">
                                    <li ng-repeat="item in satisFirsati.Gorusmeler">

                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm {{item.Etiket.Renk}}">
                                                        <i class="{{item.Etiket.FontIcon}}"></i>
                                                    </div>

                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        <span class="label label-sm label-info">{{item.ProjeAdi}}</span>
                                                        {{item.Gorusme.Note}}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col2">
                                            <div class="date">{{tarihFormat(item.Gorusme.Tarih)}} </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--END TABS-->
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>*@
        </div>
        <div class="col-md-6">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-bell-o"></i>Firma Teklifleri
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-advance table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <i class="fa fa-briefcase"></i> İstek
                                    </th>
                                    <th class="hidden-xs">
                                        <i class="fa fa-user"></i> Kişi
                                    </th>
                                    <th>
                                        <i class="fa fa-shopping-cart"></i> Teklif
                                    </th>
                                    <th>
                                        <i class="fa fa-shopping-cart"></i> Son Fiyat
                                    </th>
                                    <th>
                                        <i class="fa fa-shopping-cart"></i> Durum
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (SatisFirsati teklifim in Partial.SatisFirmastiTeklifleri(Model.RefFirmaId??0))
                                {
                                    IEnumerable<SatisFirsatiFiyatRevizyon> revize = Partial.SatisFirmastiTeklifRevizeleri(teklifim.Id);
                                    <tr>
                                        <td class="highlight">
                                            <div class="success"></div>
                                            <a href="/SatisFirsatis/Details/@teklifim.Id" target="_blank">@Partial.DomainKategoriAdi(teklifim.RefDomainKategoriId ??0)</a>
                                        </td>
                                        <td class="hidden-xs">@Partial.FirmaKisiAdi(teklifim.RefYetkiliId??0)</td>
                                        <td> @(revize.FirstOrDefault() != null ? revize.FirstOrDefault().Fiyat : 0) TL </td>
                                        <td> @(revize.LastOrDefault() != null ? revize.LastOrDefault().Fiyat : 0) TL </td>
                                        <td>
                                            <span class="label @Partial.EtiketGetir(teklifim.EtiketSatisAsamaId??0).Renk"> @Partial.EtiketGetir(teklifim.EtiketSatisAsamaId??0).Text </span>
                                        </td>
                                    </tr>
                                    
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-bell-o"></i>Kişiler
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-advance table-hover">
                            <thead>
                                <tr>
                                    <th class="hidden-xs"><i class="fa fa-user"></i> Kişi</th>
                                    <th><i class="fa fa-gear"></i> Görevi</th>
                                    <th><i class="fa fa-phone"></i> Telefon</th>
                                    <th><i class="fa fa-envelope-o"></i> EMail</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (FirmaKisi kisim in Partial.FirmaKisileri(Model.RefFirmaId ?? 0))
                                {
                                    <tr>
                                        <td class="hidden-xs">@kisim.Ad @kisim.Soyad </td>
                                        <td>@kisim.Departman</td>
                                        <td><a href="tel:@Fonksiyonlar.TelefonDuzelt(kisim.Tel)">@Fonksiyonlar.TelefonDuzelt(kisim.Tel)</a> </td>
                                        <td>@kisim.Email</td>
                                    </tr>

                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>   
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "List")*@
    </p>
@section css{
   <style id="ekstracssler">
    .mt-element-step .step-background-thin .mt-step-number {
        font-size: 80px !important;
        right: initial !important;
    }
    .bg-green-steel {
        background-color: #26C281 !important;
        color: white !important;
    }
    .mt-step-number {
        color: white !important;
    }
    .mt-element-step .step-background-thin .mt-step-title {
        text-align: left !important;
        padding-right: initial !important;
        padding-left: 50px !important;
        font-size: 28px !important;
    }
    .mt-step-col {
        border-right: 2px solid #ffffff !important;
        border-bottom: 2px solid #ffffff !important;
    }
    .feeds li .col1 > .cont > .cont-col2 > .desc {
        color: black;
    }
    .feeds li .col2 > .date {
        color: black !important;
    }
</style> 
    
}
@section scripts{
    <script src="~/js/controllers/satisFirsatlarDetailCtrl.js?v=9"></script>
    }