@using Portal.Models;
@model IEnumerable<Portal.Models.SatisFirsati>

@{
    ViewBag.Title = "List";
   
}
@functions{


    public string AsamaEtiketIsmi(int? value)
    {
        if (value == null)
        {
            return "";
        }else
        {
            List<Etiket> butundegerler = CacheManagement.Get<Etiket>(CacheKeys.ETIKETS);
            List<Etiket> asamaEtiketler = butundegerler.Where(x => x.Kategori == "EtiketSatisAsamaId").ToList();
            var etiket= asamaEtiketler.SingleOrDefault(x => x.Value == value);
            if (etiket != null)
            {
                return etiket.Text;
            }
            else
            {
                return "";
            }
        }
    }
    public string EtiketSatisFirsatDurumuIsmi(int? value)
    {
        if (value == null)
        {
            return "";
        }
        else
        {
            List<Etiket> butundegerler = CacheManagement.Get<Etiket>(CacheKeys.ETIKETS);
            List<Etiket> etiketSatisFirsatDurumular = butundegerler.Where(x => x.Kategori == "EtiketSatisFirsatDurumuId").ToList();
            var etiket = etiketSatisFirsatDurumular.SingleOrDefault(x => x.Value == value);
            if (etiket != null)
            {
                return etiket.Text;
            }
            else
            {
                return "";
            }
        }
    }
}

<p>
    @Html.ActionLink("Yeni", "Kaydet")
</p>
<div class="table-scrollable" style="margin-top:15px">
    <table class="table table-striped table-bordered table-hover">
        <thead class="flip-content">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Firma.FirmaAdi)
                </th>             
                <th>
                    Aşama
                </th>
                <th>
                    Fırsat Durumu
                </th>          
                <th>
                    @Html.DisplayNameFor(model => model.Fiyat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tarih)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GecerlilikSuresi)
                </th>                    
          
                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>            
              
                <th>
                    @Html.DisplayNameFor(model => model.ReferansNo)
                </th>
                <th>
                  Proje Tipi
                </th>
                <th>
                    Sorumlu Kişi
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firma.FirmaAdi)
                    </td>
                    <td>
                        @AsamaEtiketIsmi(item.EtiketSatisAsamaId)
                    </td>
                    <td>
                        @EtiketSatisFirsatDurumuIsmi(item.EtiketSatisFirsatDurumuId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fiyat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tarih)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GecerlilikSuresi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReferansNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DomainKategori.DomainKategoriAdi)
                    </td>
                    <td>
                       @Portal.Models.Fonksiyonlar.KullaniciAdi(item.RefSorumluKisiId)
                    </td>



                    <td>
                        @Html.ActionLink("Edit", "Kaydet", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
</table>
</div>