@model Portal.Models.StandartProjeIsleri

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>StandartProjeIsleri</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
   

        <div class="form-group">
            @Html.LabelFor(model => model.StandartProjeIsleriSirasi,"Sıra", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StandartProjeIsleriSirasi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StandartProjeIsleriSirasi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StandartProjeIsleriIsAdi,"İş Adı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StandartProjeIsleriIsAdi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StandartProjeIsleriIsAdi, "", new { @class = "text-danger" })
            </div>
        </div>   
        <div class="form-group">
            @Html.LabelFor(model => model.StandartProjeIsleriAciklama, "İş Açıklama", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StandartProjeIsleriAciklama, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StandartProjeIsleriIsAdi, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RefStandartProjeIsleriYapacakKullaniciId, "Yapacak Kişi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RefStandartProjeIsleriYapacakKullaniciId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RefStandartProjeIsleriYapacakKullaniciId, "", new { @class = "text-danger" })
            </div>
        </div>   
        <div class="form-group">
            @Html.LabelFor(model => model.RefStandartProjeIsleriKontrolEdecekKullaniciId,"Kontrol Eden", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RefStandartProjeIsleriKontrolEdecekKullaniciId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RefStandartProjeIsleriKontrolEdecekKullaniciId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StandartProjeIsleriIdAnahtarIsmi, "Anahtar ismi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StandartProjeIsleriIdAnahtarIsmi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StandartProjeIsleriIsAdi, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
