@model IEnumerable<Portal.Models.StandartProjeIsleri>
@using Portal.Models;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-scrollable">
    <table class="table table-striped table-bordered table-hover">
        <thead class="flip-content">
            <tr>
                <th>
                    Sıra
                </th>
                <th>
                    İş Adı
                </th>
                <th>
                    İş Açıklama
                </th>
                <th>
                    Yapacak Kişi
                </th>
                <th>
                    Kontrol Eden
                </th>
                <th>
                    Anahtar ismi
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StandartProjeIsleriSirasi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StandartProjeIsleriIsAdi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StandartProjeIsleriAciklama)
                    </td>
                    <td>
                        @Fonksiyonlar.KullaniciAdi(item.RefStandartProjeIsleriYapacakKullaniciId)
                    </td>
                    <td>
                       @Fonksiyonlar.KullaniciAdi(item.RefStandartProjeIsleriKontrolEdecekKullaniciId)
                    </td>
                    <td>@item.StandartProjeIsleriIdAnahtarIsmi</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.StandartProjeIsleriId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.StandartProjeIsleriId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.StandartProjeIsleriId })
                    </td>
                </tr>
            }
        </tbody>
</table>
</div>
