@using Newtonsoft.Json;
@using Portal.Models.IslerModels;
@using Microsoft.AspNet.Identity;
@using Portal.Models;
@{
    ViewBag.Title = "Dashboard";
    string userId = User.Identity.GetUserId() ?? "f5f53da2-c311-44c9-af6a-b15ca29aee57";
    var guncelKullanici = Database.DbHelper.GetDb.AspNetUsers.Where(x => x.Id == userId).
                            Select(x => new Kullanici { Id = x.Id, AdSoyad = x.Isim + " " + x.SoyIsim }).FirstOrDefault();
    var kullanicilar = Database.DbHelper.GetDb.AspNetUsers.Where(x => x.LockoutEnabled == false)
.Select(x => new Kullanici { Id = x.Id, AdSoyad = x.Isim + " " + x.SoyIsim }).ToList();

    var konumlarJsn = JsonConvert.SerializeObject(Database.DbHelper.GetDb.Konums.Select(x => new { KonumID = x.KonumID, Konum = x.Konum1 }).ToList());
    //var etiketIsPlaniDurum =JsonConvert.SerializeObject(CacheManagement.Get<Etiket>(CacheKeys.ETIKETS).Where(x=>x.Kategori== "EtiketIsPlaniDurum"));
    var etiketIsPlaniTipDetaylari = JsonConvert.SerializeObject(CacheManagement.Get<Etiket>(CacheKeys.ETIKETS).Where(x => x.Kategori == "EtiketIsPlaniTipi"));

    DateTime tBas = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1);
    DateTime tBit = tBas.AddMonths(1).AddDays(-1);
    var tahsilatlar = Database.DbHelper.GetDb.CariHarekets.Where(x => x.ChTarihi >= tBas && x.ChTarihi <= tBit).OrderByDescending(x => x.ChTarihi).ToList();



}
@section css{
<style>

    .baslik2 {
  
        text-align: center;
        background-color: #e7ecf1;
        padding: 10px;
        margin: 0;
        color: #796767;
    }
    .ic-kutu {
        height: 80px;
        text-align:center;
    }
    .ic-kutu  a {
        display:block;
        text-decoration: none;
        color:#fff;
        font-size:18px;
    }

    .ic-kutu  a:hover {
        text-decoration: underline;
    }

        .ic-kutu  p.yazi {
            color: #eae8e8;
            padding: 0;
            margin: 0;
            line-height: 1.2;
            font-weight: 400;
        }

        .ic-kutu  p.sayi {
            color: #fff;
            padding: 0;
            margin: 0;
            line-height: 1.2;
            font-weight: 600;
        }
        .ic-kutu a p{
            margin:0;padding:0;line-height:1.2;
        }
    #tab_yapilan_isler .isler td, #tab_yapilan_isler .isler a {
        color: white !important;
    }
</style>    
}
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h3 class="baslik2">
            İş Planı
        </h3>
        <div class="dashboard-stat dashboard-stat-v2 blue" href="#">
         
            <div class="ic-kutu">
                <div style="padding-top:15px;">
                    <a href="#tab_is_plani">
                        <p class="sayi">@Portal.Models.Partial.BuguneAitIsPlanSayisi()</p><p class="yazi">Tamamlanmamış</p>
                    </a>      
                </div>          
            
            </div>
     
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h3 class="baslik2">
            Yapılan İşler
        </h3>
        <div class="dashboard-stat dashboard-stat-v2 green" href="#">

            <div class="ic-kutu">
                <div style="padding-top:15px;">
                    <a href="#tab_yapilan_isler">
                    <p class="sayi"></p>
                    <p class="yazi">Yapılıyor</p>
                    </a>                  
                </div>

            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h3 class="baslik2">
           Alacak Listesi
        </h3>
        <div class="dashboard-stat dashboard-stat-v2 red" href="#">

            <div class="ic-kutu">
                <div style="padding-top:15px;">
                    <a href="#tab_borclu_firmalar">
                       Alacak Listesi
                    </a>      
                </div>

            </div>

        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h3 class="baslik2">
            Satış Fırsatları
        </h3>
        <div class="dashboard-stat dashboard-stat-v2 purple" href="#">

            <div class="ic-kutu">
                <div style="padding-top:15px;">
                    <a href="#tab_satis_firsatlari">
                        <p class="sayi"></p><p class="yazi">Fırsat</p>
                    </a>
                </div>

            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h3 class="baslik2">
            Tahsilat
        </h3>
        <div class="dashboard-stat dashboard-stat-v2 bg-yellow-casablanca" href="#">

            <div class="ic-kutu">
                <div style="padding-top:15px;">
                    <a href="#tab_tahsilat">
                        <p class="sayi">@tahsilatlar.Where(x=>x.Firma.FirmaAdi!="KASA").Count()</p><p class="yazi">Tahsil Edildi</p>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <ul class="nav nav-tabs satisdashboard">
                    <li class="active">
                        <a  href="#tab_is_plani" data-toggle="tab" aria-expanded="true"> İş Planı </a>
                    </li>
                    <li class="">
                        <a href="#tab_yapilan_isler" data-toggle="tab" aria-expanded="false"> Yapılan İşler </a>
                    </li>
                    <li class="">
                        <a href="#tab_borclu_firmalar" data-toggle="tab" aria-expanded="false"> Alacak Listesi </a>
                    </li>
                    <li class="">
                        <a href="#tab_satis_firsatlari" data-toggle="tab" aria-expanded="false"> Satış Fırsatları </a>
                    </li>
                  
                    <li class="">
                        <a href="#tab_tahsilat" data-toggle="tab" aria-expanded="false">Tahsilatlar </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab_is_plani" class="tab-pane fade active in table-scrollable" ng-controller="isPlaniCtrl" ng-init="init(guncelKullaniciId='@userId',jsnEtiketIsPlaniTipDetaylari='@etiketIsPlaniTipDetaylari')">
                        <table class="table table-bordered table-striped table-condensed flip-content isler">
                            <thead class="flip-content">
                                <tr>
                                    <th>Açıklama</th>
                                    <th>İş Plan Tipi</th>
                                    <th> Tarih </th>                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in isPlanlari">
                                   <td><span ng-bind-html="item.Aciklama |  to_trusted"></span></td>
                                   <td><span class="label label-sm {{item.etiketIsPlaniTipDetay.FontIcon}} ">
                                     {{item.etiketIsPlaniTipDetay.Text}}</span>
                                   </td>
                                   <td>{{tarihFormat(item.Tarih)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
             
                    <div id="tab_yapilan_isler" ng-controller="anaSayfaCtrl" class="tab-pane fade  in table-scrollable"  ng-init="init('@JsonConvert.SerializeObject(kullanicilar)',
                         guncelKullaniciId='',bolgelerJsn='@konumlarJsn',isDurum='Yapiliyor')">
                        <table class="table table-bordered table-striped table-condensed flip-content isler">
                            <thead class="flip-content">
                                <tr>
                                    <th>Bölge</th>
                                    <th> İş Adı </th>
                                    <th> Domain </th>
                                    <th> İş Yapacak </th>
                                    <th> İşin Durumu </th>
                                    <th> Tarih </th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>

                                        <select ng-model="seciliBolge" class="form-control">
                                            <option value="">Hepsi</option>
                                            <option ng-repeat="k in bolgeler" value="{{k.KonumID}}">{{k.Konum}}</option>
                                        </select>

                                    </td>
                                    <td> <input type="text" name="isAdi" ng-model="isAdi" ng-keyup="getirData(isAdi)" placeholder="İş Adı" autocomplete="off" class="form-control" /></td>

                                    <td> <input type="text" ng-model="domain" ng-keyup="getirData(domain)" placeholder="domain" autocomplete="off" class="form-control" /></td>

                                    <td>

                                        <select ng-model="seciliYapacakKisi" class="form-control">
                                            <option value="">Hepsi</option>
                                            <option ng-repeat="k in kullanicilar" value="{{k.AdSoyad}}">{{k.AdSoyad}}</option>
                                        </select>

                                    </td>
                                    <td>
                                        <select class="form-control" ng-model="seciliIsDurum">
                                            <option value="">Hepsi</option>
                                            <option ng-repeat="k in isinDurumlari" value="{{k}}">{{k}}</option>
                                        </select>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr ng-repeat="x in isler" style="background-color:{{isRenkler[x.IsinDurumu].color}}">
                                    <td>{{x.Bolge}}</td>
                                    <td><a ng-href="/Isler/DomainIsler/{{x.DomainId}}">{{x.IsAdi}}</a></td>

                                    <td><a ng-href="/Isler/DomainIsler/{{x.DomainId}}">{{x.Domain}}</a>   </td>

                                    <td> {{x.IsiYapacakKisi}} </td>
                                    <td> {{x.IsinDurumu}} </td>
                                    <td> {{tarihFormat(x.Tarih)}} </td>
                                  
                                </tr>




                            </tbody>
                        </table>
                        <div style="text-align:center">
                            <ul uib-pagination ng-show="totalItems>20" previous-text="&lsaquo;" next-text="&rsaquo;" max-size="maxSize"
                                boundary-link-numbers="true" items-per-page="20" total-items="totalItems" ng-model="page" ng-change="pageChanged()"></ul>

                        </div>
                    </div>
                    <div id="tab_borclu_firmalar" ng-controller="borcluFirmalarCtrl" ng-init="init(bolgelerJsn='@konumlarJsn')" class="tab-pane fade table-scrollable" >
                        <table class="table table-striped table-bordered table-hover">
                            <thead class="flip-content">
                                <tr>
                                    <th>Bölge </th>
                                    <th>Kalan Ödeme</th>
                                    <th> Firma</th>
                                    <th class="left">Yetkili </th>
                                    <th class="left">Telefon</th>
                                    <th class="left">Cep Telefon</th>
                                    <th class="left"> Domainler </th>
                                    <th class="left">Aracı </th>                                  
                                  
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select ng-model="seciliBolge" class="form-control" ng-change="getirData(seciliBolge,true)">
                                            <option value="">Hepsi</option>
                                            <option ng-repeat="k in bolgeler" value="{{k.KonumID}}">{{k.Konum}}</option>
                                        </select>
                                    </td>
                                    <td></td>
                                    <td> <input type="text" name="firma" ng-model="firmaAdi" ng-keyup="getirData(firmaAdi)" placeholder="Firma" class="form-control"></td>
                                    <td><input type="text" name="firma" ng-model="yetkiliAdi" ng-keyup="getirData(yetkiliAdi)" placeholder="Telefon No" class="form-control"></td>
                                    <td><input type="text" name="firma" ng-model="telNo" ng-keyup="getirData(telNo)" placeholder="Telefon No" class="form-control"></td>
                                    <td><input type="text" name="firma" ng-model="cepTelNo" ng-keyup="getirData(cepTelNo)" placeholder="Cep Tel No" class="form-control"></td>
                                    <td> </td>
                                    <td> </td>                           

                                </tr>
                                <tr ng-repeat="x in firmalar">
                                    <td> {{x.konum}} </td>
                                    <td>{{x.borcu}}</td>
                                    <td>{{x.firma.FirmaAdi}}</td>
                                    <td>{{x.firma.YetkiliAdi}}</td>
                                    <td>
                                        <a href="tel:{{x.firma.YetkiliTelefon}}">{{x.firma.YetkiliTelefon}}</a>
                                    </td>
                                    <td>
                                        <a href="tel:{{x.firma.YetkiliCepTelefon}}">{{x.firma.YetkiliCepTelefon}}</a>
                                    </td>
                                    <td>{{x.domainSayisi}}</td>
                                    <td>{{x.araci}}</td>
                                

                                </tr>
                            </tbody>

                        </table>
                        <div style="text-align:center">
                            <ul uib-pagination ng-show="totalItems>20" previous-text="&lsaquo;" next-text="&rsaquo;" max-size="maxSize"
                                boundary-link-numbers="true" items-per-page="20" total-items="totalItems" ng-model="page" ng-change="pageChanged()"></ul>

                        </div>
                    </div>

                    <div id="tab_satis_firsatlari" ng-controller="dashboardSatisFirsatiCtrl" ng-init="init(bolgelerJsn='@konumlarJsn')" class="tab-pane fade table-scrollable" >
                        <table class="table table-bordered table-striped table-condensed flip-content ">
                            <thead class="flip-content">
                                <tr>
                                    <th> Bölge </th>
                                    <th> Müşteri </th>
                                    <th> Firma Adı </th>
                                    <th>Proje Tipi</th>
                                    <th> Aşama </th>
                                    <th> Fırsat Durum </th>
                                    <th> Tarih </th>
                                    <th> Süre </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select ng-model="seciliBolge" class="form-control" ng-change="getirData(seciliBolge,true)">
                                            <option value="">Hepsi</option>
                                            <option ng-repeat="k in bolgeler" value="{{k.KonumID}}">{{k.Konum}}</option>
                                        </select>
                                    </td>
                                    <td> <input type="text" name="adSoyad" ng-model="adSoyad" ng-keyup="getirData(adSoyad)" placeholder="Ad / Soyad" class="form-control"></td>
                                    <td> <input type="text" name="firma" ng-model="firmaAdi" ng-keyup="getirData(firmaAdi)" placeholder="Firma" class="form-control"></td>
                                    <td> </td>
                                    <td> </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>                           
                                <tr ng-repeat="x in firsatlar">
                                    <td> {{x.Bolge}} </td>
                                    <td>{{x.Musteri}}</td>
                                    <td>{{x.Firma.Ad}}</td>
                                    <td>{{x.DomainKategori}} </td>
                                    <td><button type="button" class="btn btn-warning green {{x.EtiketSatisAsama.Renk}}">{{x.EtiketSatisAsama.Text}}</button></td>
                                    <td><button type="button" class="btn btn-warning green {{x.EtiketSatisFirsatDurumu.Renk}}">{{x.EtiketSatisFirsatDurumu.Text}}</button></td>
                                    <td>{{tarihFormat(x.Tarih)}}</td>
                                    <td>{{x.KalanSure}}</td>
                                    <td><a href="/SatisFirsatis/Details/{{x.Id}}">Detay</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
               
                    <div id="tab_tahsilat" class="tab-pane fade  in table-scrollable">
                        <table class="table table-bordered table-striped table-condensed flip-content isler">
                            <thead class="flip-content">
                                <tr>
                                    <th>
                                        No
                                    </th>
                                    <th>
                                        Tarih
                                    </th>
                                    <th>
                                        Firma
                                    </th>
                                    <th align="right" width="100">
                                        Alacak
                                    </th>
                                    <th align="right" width="100">
                                        Borç
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in tahsilatlar)
                                {
                                    <tr>
                                        <td>@item.ChID</td>
                                        <td>
                                            @String.Format("{0:dd/MM/yyyy}", item.ChTarihi)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Detay", "CariHareket", new { id = item.RefFirmaID } )">
                                                @item.Firma.FirmaAdi
                                            </a>
                                        </td>
                                        <td align="right">
                                            @item.ChSatisFiyati
                                        </td>
                                        <td align="right">
                                            @item.ChAlinanOdeme
                                        </td>
                                    </tr>
                                }
                      
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>
@section scripts{
<script src="/js/services/anaSayfaService.js?v=6"></script>
<script src="/js/controllers/anaSayfaCtrl.js?v=27"></script>
<script src="/js/controllers/dashboardSatisFirsatiCtrl.js?v=2"></script>
<script src="/js/controllers/borcluFirmalarCtrl.js?v=8"></script>
<script src="/js/controllers/firmalarCtrl.js?v=2"></script>
    <script>
        $(function () {
            $(".ic-kutu a").click(function (evt) {
                evt.preventDefault();
                let hr = $(this).attr("href");
                $(".satisdashboard li").removeClass("active");
                $(".satisdashboard li > a").each(function (index, elem) {
                    if (hr == $(elem).attr("href")) {                
                        $(elem).trigger("click");                      
                        $(elem).closest("li").addClass("active");
                    
                        $('html, body').animate({
                            scrollTop: parseInt($(hr).offset().top)
                        }, 500);
                      
                    }
                });
            });
        })
    </script>
    
 }


