
@model Portal.Models.Domain
@using Portal.Models;
@{
    string renk = "";
    if (!Model.DomainDurum ?? false)
    {
        renk = "Silindi";
    }
}
<tr class="domainSiralama @(renk)" data-ip="@(Model.IpAdres)">
    <td>@String.Format("{0:dd MMMM yyyy}", Model.Tarih)</td>
    <td>@String.Format("{0:dd MMMM yyyy}", Model.UzatmaTarihi)</td>
    <td>
        @if (Model.DomainDurum ?? false)
        { @Fonksiyonlar.DomainUzatmaSuresineKalanGun(Model.UzatmaTarihi)}
        else
        {<a class="btn btn-danger" href="@Url.Action("DomainDuzenle", new { controller = "Web", id = Model.DomainID })">
            Silindi
        </a>}
    </td>
    <td>
        <a onclick="gosterDomain('@Model.DomainAdi')" data-toggle="domainInfo" href="javascript:void(0)">@Model.DomainAdi</a>
    </td>
    <td>
        <a href="http://www.@(Model.DomainAdi)" target="_blank">
            <span class="icon-stack">
                <i class="icon-link"></i>
            </span>
        </a>
    </td>
    <td>
        @Model.Hosting.HostingAdi
    </td>
    <td>
        <span id="@Model.DomainID" class="ipGetir domain@(Model.DomainID)">
            @if (!String.IsNullOrEmpty(Model.IpAdres))
            {@Model.IpAdres}
            else
            { <text>İp Adresi Kayıtlı Değil</text> }
        </span>
    </td>
    <td>
        @Model.KayitliFirma.KayitliFirmaAdi
    </td>
    <td>
        @Model.DomainKategori.DomainKategoriAdi
    </td>
    <td>
       
        <a href="@Url.Action("CariHareketDetay", "Web", new { firmaID = Model.RefDomainFirmaID })">
            @Model.Firma.FirmaAdi
        </a>
    </td>
    <td>
       
            @if (Model.DomainDurum ?? false)
            {
                <div class="row">
                    <div class="col-md-3">
                        <a class="btn btn-warning" href="@Url.Action("Duzenle", new { controller = "Domain", id = Model.DomainID })">
                            Düzenle
                        </a>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a class="btn  btn-info" onclick="domainUzatmaMailiGonder(this,'@Model.DomainAdi',@Model.DomainID)" href="javascript:void(0)"> Mail Gönder  </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a class="btn btn-success" href="javascript:if(confirm('@(Model.DomainAdi) Domain Uzatılacak Emin misiniz?'))location.href='@Url.Action("DomainUzat", "Domain", new {  domainID = Model.DomainID })'"> Uzat  </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a class="btn  btn-danger" href="javascript:if(confirm('@(Model.DomainAdi) Domain Silinecek Emin misiniz?'))location.href='@Url.Action("DomainSil", "Domain", new {  id = Model.DomainID })'"> Domaini Sil </a>
                    </div>
                </div>
            }
           
            else
            {

                <a class="btn btn-danger" href="@Url.Action("DomainDuzenle", new { controller = "Web", id = Model.DomainID })">
                    Silindi
                </a>

            }




</td>
</tr>
@Html.Partial("_Modal")
<script>

    function gosterDomain(domain) {
        commonAjaxService.getDomainInfo(domain).done(function (data) {
            $("#domainInfo .modal-title").html("Domain Sorgula")
            $("#domainInfo .modal-body").html(data);
            $("#domainInfo").modal("show");
        });
    }
    function domainUzatmaMailiGonder(btn, domainAdi, domainId) {
      
        
        if (confirm( domainAdi +' Domain Uzatılacak  Maili Gönderilecek Emin misiniz?'))
        {
            $(btn).addClass("disabled");
            $(btn).html("Gönderiliyor..");
            commonAjaxService.domainUzatmaMailiGonder(domainId).done(function (data) {
                $("#domainInfo").modal("show");
                $("#domainInfo .modal-title").html("Mail Cevap");
                $(btn).removeClass("disabled");
                $(btn).html("Mail Gönder");
                if (data.Basarilimi) {
                    
                    $("#domainInfo .modal-body").html('Gönderildi');
                   
                } else {
                    $("#domainInfo .modal-body").html('Hata oldu,gönderilemedi');
                }
            });
        }
           
    }
  
</script>