@model Portal.Models.MailSablonu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MailSablonu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MailSablonuAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailSablonuAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailSablonu1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailSablonu1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MailSablonuID }) |
    @Html.ActionLink("Back to List", "List")
</p>
