@model Portal.Models.DomainUrun

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DomainUrun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DomainUrunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DomainUrunAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DomainUrunFiyati)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DomainUrunFiyati)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DomainUrunID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
