@model Domain
@using System.Linq;
@using Portal.Models;
@using Microsoft.AspNet.Identity;
@using Newtonsoft.Json;
@using Portal.Models.IslerModels;
@{
    ViewBag.Title = "DomainIsler";
    DomainBilgi domainBilgi = new DomainBilgi
    {
        Id = Model.DomainID,
        SatisOncelikli = Model.SatisOncelikli,
        GuncellemeSozlesmesiVarmi=Model.GuncellemeSozlesmesiVarmi,
        OdemesiAlindi=Model.OdemesiAlindi,
        DomainAksiyon=Model.DomainAksiyon
    };
    string jsnDomain = JsonConvert.SerializeObject(domainBilgi);
}

<div style="margin-top:0px" ng-controller="domainIslerCtrl" ng-init="init('@jsnDomain','@JsonConvert.SerializeObject(ViewBag.guncelKullanici)',@Sorgular.DomainToplamZaman(Model.DomainID),@Model.RefDomainFirmaID)">
    <div class="clearfix" style="margin-bottom:5px">
        <div class="" style="display:inline-block;float:left;margin:0;font-size:20px">
            @Model.DomainAdi
            <span>
               <a href="#" ng-model="domainBilgi.SatisOncelikli" ng-click="degistirSatisOncelik()">    
               <i class="fa fa-star ng-class:{ 'sari':domainBilgi.SatisOncelikli }"   aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" 
                  data-original-title="{{domainBilgi.SatisOncelikli ? 'Satış Öncelikli':'Satış Öncelikli değil'  }} "></i>
                </a>
               <a href="#" ng-model="domainBilgi.GuncellemeSozlesmesiVarmi" ng-click="degistirGuncellemeSozlesmesi()">
               <i class="fa fa-file-text  ng-class:{ 'kirmizi':domainBilgi.GuncellemeSozlesmesiVarmi }" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" 
                       data-original-title="{{domainBilgi.GuncellemeSozlesmesiVarmi ? 'Güncelleme Sözleşmesi Var':'Güncelleme Sözleşmesi Yok'  }} "></i>
                </a>
                <a href="#" ng-model="domainBilgi.OdemesiAlindi" ng-click="degistirOdemesiAlindi()">
                    <i class="fa fa-money  ng-class:{ 'turkuaz':domainBilgi.OdemesiAlindi }" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" 
                       data-original-title="{{domainBilgi.OdemesiAlindi ? 'Ödemesi Alındı':'Ödemesi Alınmadı'  }}"></i>
                </a>
</span>
        </div>
        <div class="page-toolbar" style="float:right">
            <div class="btn-group pull-right">
                <button type="button"  class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown">
                    Aksiyon Al
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="#" ng-click="gosterDomainNotlari(domainAksiyon.BeklemeyeAl)">
                            <i class="fa fa-pause" aria-hidden="true"></i> Beklemeye Al
                        </a>
                    </li>
                    <li>
                        <a href="#" ng-click="gosterDomainNotlari(domainAksiyon.YayinaAl)">
                            <i class="fa fa-play" aria-hidden="true"></i> Yayına Al
                        </a>
                    </li>
                    <li>
                        <a href="#" ng-click="gosterDomainNotlari(domainAksiyon.YayiniDurdur)">
                            <i class="fa fa-stop" aria-hidden="true"></i> Yayını Durdur
                        </a>
                    </li>
                    <li>
                        <a href="#" ng-click="gosterDomainNotlari(null)">
                            <i class="fa fa-comment" aria-hidden="true"></i> Domain Notları
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#" ng-click="gosterCariBilgi()">
                            <i class="fa fa-user"></i> Cari Bilgileri
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    @*Detay*@
    <div class="portlet light portlet-fit bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-code font-green" aria-hidden="true"></i>
                <span class="caption-subject bold font-green uppercase"> Yapılacak İş: {{domainIsler.length}}</span>
                <span class="caption-helper"><i class="fa fa-clock-o" aria-hidden="true"></i> Toplam Proje Süresi:{{toplamZamanStr}}</span>
            </div>
            <div class="actions">
                <div class="btn-group pull-right">
                    <button type="button" class="btn red btn-sm btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Yapacak Kişi
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="#0" ng-click="degistirFilterUser('Hepsi')">
                                <i class="icon-user"></i> <text>Hepsi
                            </a>
                        </li>
                        @foreach (AspNetUser user in ViewBag.kullanicilar)
                        {
                            <li>
                                <a href="#0" ng-click="degistirFilterUser('@user.Id')">
                                    <i class="icon-user"></i> <text>@user.Isim</text>&nbsp;<text>@user.SoyIsim</text>
                                </a>
                            </li>
                        }
                   
                    </ul>
                </div>
                <div class="btn-group pull-right" style="margin-right: 15px;">
                    <button type="button" class="btn blue btn-sm btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        İşin Durumu
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="#0" ng-click="degistirFilterIsDurum(0)" class="font-blue">
                                <i class="fa fa-code" aria-hidden="true"></i> Hepsi
                            </a>
                        </li>
                        <li>
                            <a href="#0" ng-click="degistirFilterIsDurum(1)" class="font-blue">
                                <i class="fa fa-code" aria-hidden="true"></i> Yapılacak
                            </a>
                        </li>
                        <li>
                            <a href="#0" ng-click="degistirFilterIsDurum(2)" class="font-blue">
                                <i class="fa fa-code" aria-hidden="true"></i> Yapılacak (Deadline)
                            </a>
                        </li>
                        <li>
                            <a href="#0" ng-click="degistirFilterIsDurum(3)" class="font-green-jungle">
                                <i class="fa fa-code" aria-hidden="true"></i> Yapılıyor
                            </a>
                        </li>
                        <li>
                            <a href="#0" ng-click="degistirFilterIsDurum(4)" class="font-yellow">
                                <i class="fa fa-code" aria-hidden="true"></i> Onay Bekliyor
                            </a>
                        </li>
                        <li>
                            <a href="#0" ng-click="degistirFilterIsDurum(5)">
                                <i class="fa fa-code"  aria-hidden="true"></i> Tamamlandı
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="well text-center" ng-show="sonDomainNote.length>0">                            
                 <span class="font-grey-cascade" ng-bind-html="sonDomainNote |  to_trusted"></span>               
            </div>

            <div class="timeline">

                <!-- TIMELINE ITEM DOMAIN BEKLEMEDE -->

                <!-- END TIMELINE DOMAIN BEKLEMEDE -->
                <!-- TIMELINE ITEM YAPILACAK (WITH DEADLINE) -->
                <div style="text-align:center" ng-show="yukleniyor">
                    <i class="fa fa-refresh fa-spin fa-3x fa-fw font-blue"></i>

                </div>

                <div  ng-repeat="x in domainIsler  | filter:filterByIsinDurumu" class="timeline-item ">
                    <div class="timeline-badge">
                        <div class="timeline-icon">
                            <i class="fa fa-code {{timelineIconClassBelirleDurumaGore(x.IsDurum)}}"></i>
                        </div>
                    </div>
                    <div class="timeline-body {{timelineBodyClassBelirleDurumaGore(x.IsDurum)}}   ng-class:{ 'animated flash':x.yorumEklendi }">
                        <div class="timeline-body-arrow {{timelineArrowClassBelirleDurumaGore(x.IsDurum)}}" > </div>
                        <div class="timeline-body-head">
                            <div class="timeline-body-head-caption">
                                <a href="/Isler/IsEkleDuzenle/{{x.IsId}}" class="timeline-body-title font-white" id="is{{x.IsId}}">#{{x.IsId}} - Yapan: {{isiYapanKullanicilar(x.IsiYapacakKullanicilar)}} / Kontrol: {{x.IsiVerenKullanici.AdSoyad}}</a>
                                <span class="timeline-body-time font-black">{{x.IsAd}}</span>
                                <span class="timeline-body-time font-black">{{tarihFormatStr(x.Tarih)}}</span>
                                <span class="timeline-body-time font-black" ng-show="x.BitisTarihiVarmi">
                                <i class="fa fa-calendar" aria-hidden="true"></i> <strong>{{tarihFormatStr(x.BitisTarihi)}}</strong></span>
                            </div>
                            <div class="timeline-body-head-actions" >
                                <i class="fa fa-clock-o" aria-hidden="true"></i> {{x.gecenZaman}}
                                <button class="btn btn-circle green btn-sm btn-tamamla" ng-show="x.GosterIseBaslaBtn" ng-click="isDurumDegistir(x)"  type="button">
                                    <i ng-class="x.iBtnClass" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="timeline-body-content">
                            <span class="font-white">
                              <span ng-bind-html="x.IsAciklama |  to_trusted"></span> 
                            </span>
                            <p>
                            </p>
                            <div class="btn-group pull-left">
                                <label class="mt-checkbox font-white" style="margin-top: 5px;">
                                    <input data-toggle="collapse" data-target="#yorum{{$index}}" id="edit1" type="checkbox" value="1" name="service"> Yorumlar ({{x.Yorumlar.length}})
                                    <span></span>
                                </label>
                            </div>
                            <div class="btn-group pull-right" ng-show="x.GosterTamamlaBtn" ng-click="clickTamamlaBtn(x)">
                                <button class="btn btn-circle black btn-sm">
                                    Tamamla
                                </button>
                            </div>
                            <div class="btn-group pull-right" ng-show="x.GosterOnaylaBtn">
                                <div class="btn-group pull-right">
                                    <button class="btn btn-circle white btn-sm dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        Onay İşlemleri
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="javascript:void(0)" ng-click="clickOnayla(x)" >İşi Onayla </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a  href="javascript:void(0)" ng-click="revizeIste(x)">Revize İste </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <p></p>
                            <div class="row">
                                <div class="col-sm-12 collapse" id="yorum{{$index}}">
                                    <div class="portlet light portlet-fit bordered">
                                        <div class="portlet-body">
                                            <div class="timeline">
                                                <div class="timeline-item" ng-repeat="yorum in x.Yorumlar">
                                                    <div class="timeline-badge">
                                                        <img class="timeline-badge-userpic" src="/Content/assets/pages/media/users/avatar80_1.jpg">
                                                    </div>
                                                    <div class="timeline-body">
                                                        <div class="timeline-body-arrow"> </div>
                                                        <div class="timeline-body-head">
                                                            <div class="timeline-body-head-caption">
                                                                <a href="javascript:;" class="timeline-body-title font-blue-madison">{{yorum.AdSoyad}}</a>
                                                                <span class="timeline-body-time font-grey-cascade">{{tarihFormatUznStr(yorum.Tarih)}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="timeline-body-content">
                                                            <span class="font-grey-cascade" ng-bind-html="yorum.Aciklama |  to_trusted">                                                               
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                             
                                                <div class="timeline-item">
                                                    <div class="timeline-badge">
                                                        <div class="timeline-icon">
                                                            <i class="fa fa-code font-black"></i>
                                                        </div>
                                                    </div>
                                                    <div class="timeline-body">
                                                        <div class="timeline-body-arrow"> </div>
                                                        <div class="timeline-body-head">
                                                            <div class="timeline-body-head-caption">
                                                                <a href="javascript:;" class="timeline-body-title font-blue-madison">Yorum Yaz</a>
                                                            </div>
                                                            <div class="timeline-body-head-actions"> </div>
                                                        </div>
                                                        <div class="timeline-body-content">

                                                            <div class="col-sm-10">
                                                                <textarea name="Adres"  class="form-control" ng-model="x.yorumAciklamaModel"></textarea>                                                            
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <button class="btn btn-circle green btn-sm" ng-click="yorumEkle(x,$index)">
                                                                    Gönder
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- END TIMELINE ITEM -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
            @*<div class="well text-center">
                <h3>Yayına Alındı</h3><h4>- Planlanan: 29.12.2015 / Uygulanan: 02.01.2016 -</h4><h5>4 Gün Geç Yayınlandı</h5>
            </div>*@
           
        </div>
    </div>
    @*Detay Son*@
    <div class="modal fade bs-modal-lg" id="modalCari" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><text>@Model.DomainAdi</text>&nbsp; Cari Bilgileri</h4>
                </div>
                <div class="modal-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover">
                            <thead class="flip-content">
                                <tr>
                                    <th> Id </th>
                                    <th> Ad </th>
                                    <th> Soyad </th>
                                    <th> Firma Adı </th>
                                    <th> Departman </th>
                                    <th> Tel </th>
                                    <th> Email </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in firmaKisiler">
                                    <td>{{x.Id}} </td>
                                    <td> {{x.Ad}} </td>
                                    <td> {{x.Soyad}} </td>
                                    <td> {{x.FirmaAdi}} </td>
                                    <td>{{x.Departman }}</td>
                                    <td> {{x.Tel}} </td>
                                    <td> {{x.Email}} </td>                               
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn red" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-modal-lg" id="modalDomainNotlari" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><text>@Model.DomainAdi</text>&nbsp; domain Notlari</h4>
                  
                </div>
                <div class="modal-body">
                    @*<a href="@Url.Action("DomainNoteEkle","Domain")" target="_blank" class="btn btn-default red clearfix" style="float:right;margin-bottom:5px">Yeni Ekle</a>*@
                    <div class="form">
                        <div class="form-group">
                            <label class="control-label">
                                Note
                            </label>

                            <div>
                                <input class="form-control" id="DomainNotNot" name="DomainNotNot" ng-model="modelDomainNote" type="text" value="">
                            </div>
                        </div>

                    </div>
                    <div class="form-group" >
                        <div>
                            <button type="submit" ng-click="domainNoteKaydet()" class="btn green">Kaydet</button>
                        </div>
                    </div>
                    <div class="table-scrollable" style="margin-top:5px">
                        <table class="table table-striped table-bordered table-hover">
                            <thead class="flip-content">
                                <tr>
                                    <th> Id </th>
                                    <th> Note </th>
                                    <th> Firma Adı </th>
                                    <th> Kayıt Yapan </th>
                                    <th> Tarih </th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="x in domainNotlari | orderBy: 'Tarih':true">
                                    <td>{{x.Id}} </td>
                                    <td> {{x.Note}} </td>
                                    <td> {{x.FirmaAdi}} </td>
                                    <td>{{x.AdSoyad }}</td>
                                    <td> {{tarihFormatStr(x.Tarih)}} </td>
                                </tr>




                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn red" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    </div> 
@section css{
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<style>
.animated {
-webkit-animation-duration: 2s;
animation-duration: 2s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
         
@@-webkit-keyframes fadeIn {
0% {opacity: 0.5;border : 10px solid blue;}
100% {opacity: 1; border : 0px solid red;}
}
         
@@keyframes fadeIn {
0% {opacity: 0.5;border : 10px solid blue; }
100% {opacity: 1;border : 0px solid red; }
}
         
.fadeIn {
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
}
.bg-black {
    background: #222222 !important;
}

.sari {
    color: #F1C40F;
}

.kirmizi {
    color: #e7505a;
}

.turkuaz {
    color: #36c6d3;
}
.timeline-body  >  .arrow-yapilacak{
    border-color: transparent #3598dc transparent transparent;
}
.timeline-body  >  .arrow-onay{
    border-color: transparent #c49f47  transparent transparent;
}
.timeline-body  >  .arrow-yapiliyor{
    border-color: transparent #26c281 transparent transparent;
}
 .timeline-body  >  .arrow-kontrol-bekliyor{
    border-color: transparent #c49f47 transparent transparent;
}  
.body-biten{
    background-color:darkgrey !important;
} 
</style>
}
@section scripts{
<script src="/Scripts/jquery.signalR-2.2.1.min.js"></script>
@*<script src="/signalr/hubs"></script>*@
<script src="@Url.Content("/signalr/hubs")"></script>
<script src="/js/services/domainIslerService.js?v=1.0.72"></script>
<script src="/js/controllers/domainIslerCtrl.js?v=1.0.78"></script>
<script src="/Content/assets/global/plugins/moment.min.js" type="text/javascript"></script>

    <script>   
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();       
           
        })
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
  
     }

