@model Portal.Models.Firma
@using System.Threading;
@using System.Globalization;
@using Portal.Models;
@using Portal.Controllers;

@{
   
    int donemGiris = 0; int donemCikis = 0;
    var Db = Portal.Database.DbHelper.GetDb;
    DateTime buYil = new DateTime(DateTime.Now.Year, 1, 1);

}
<style type="text/css">
    table td {
        vertical-align: top;
    }
</style>
<table class="table table-striped table-bordered">
    <tr>
        <td>
            @if (Model.Araci == true)
            {
                <h3>@Model.FirmaAdi Aracı Tablosu</h3>
                <div  class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="flip-content">
                            <tr>
                                <th>
                                    No
                                </th>
                                <th>
                                    Tarih
                                </th>
                                <th class="left">
                                    Firma
                                </th>
                                <th class="left">
                                    Satış
                                </th>
                                <th class="right">
                                    Alınan Ödeme
                                </th>
                                <th class="right">
                                    Müşteri Kalan
                                </th>
                                <th class="left">
                                    Aracı
                                </th>
                                <th class="left">
                                    Hakediş
                                </th>
                                <th class="left">
                                    Ödenmesi Gereken
                                </th>
                                <th class="right">
                                    Ödenen
                                </th>
                                <th>
                                    Hakediş Kalan
                                </th>
                                <th class="right">
                                    Not
                                </th>
                                <th width="50">

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                IEnumerable<Sati> satis = from a in Db.Satis
                                                          where a.araciFirmaID == Model.FirmaID && a.refSatisID == null
                                                          orderby a.satisTarihi descending
                                                          select a;
                                foreach (Sati cariVerisi in satis)
                                {
                                    <tr>
                                        <td>
                                            @cariVerisi.SatisID
                                        </td>
                                        <td>
                                            @String.Format("{0:dd/MM/yyyy}", cariVerisi.satisTarihi)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("SatisOdemeEkle", "Web", new { satisID = cariVerisi.SatisID })">
                                                @cariVerisi.Firma.FirmaAdi
                                            </a>
                                        </td>
                                        <td>
                                            @cariVerisi.musteriSatis
                                        </td>
                                        <td>
                                            @{
                                                int odemetoplami = (from m in Db.Satis
                                                                    where m.refSatisID == cariVerisi.SatisID
                                                                    select m.musteridenAlinanOdeme).Sum() ?? 0;

                                                @((cariVerisi.musteridenAlinanOdeme ?? 0) + odemetoplami)
                                            }
                                        </td>
                                        <td>@(cariVerisi.musteriSatis - ((cariVerisi.musteridenAlinanOdeme ?? 0) + odemetoplami))</td>
                                        <td>
                                            <a href="@Url.Action("SatisOdemeEkle", "Web", new { satisID = cariVerisi.SatisID })">
                                                @cariVerisi.Firma1.FirmaAdi
                                            </a>
                                        </td>
                                        <td>
                                            @cariVerisi.araciHakedis
                                        </td>
                                        <td>@(((cariVerisi.musteridenAlinanOdeme ?? 0) + odemetoplami) / 5)</td>
                                        <td>
                                            @{
                                                int hakedistoplami = (from m in Db.Satis
                                                                      where m.refSatisID == cariVerisi.SatisID
                                                                      select m.araciyaOdenen).Sum() ?? 0;

                                                @((cariVerisi.araciyaOdenen ?? 0) + hakedistoplami)
                                            }
                                        </td>
                                        <td>
                                            @((((cariVerisi.musteridenAlinanOdeme ?? 0) + odemetoplami) / 5) - ((cariVerisi.araciyaOdenen ?? 0) + hakedistoplami))
                                        </td>
                                        <td align="right">
                                            @cariVerisi.satisNot
                                        </td>
                                        <td>
                                            <a href="@Url.Action("SatisOdemeEkle", "Web", new { satisID = cariVerisi.SatisID })">
                                                <img src="/Content/images/add.png" hspace="2" border="0" alt="İşlem Ekle">
                                            </a>

                                        </td>
                                    </tr>

                                                }
                            }
                        </tbody>
                        <tfoot>
                            @{

                                <tr>
                                    <th>
                                        Toplam
                                    </th>
                                    <th>
                                    </th>
                                    <th>

                                    </th>
                                    <th>
                                        @satis.Sum(a => a.musteriSatis)
                                    </th>
                                    <th>
                                        @{
                                            int alinanTOPLAM = (from m in Db.Satis
                                                                where m.araciFirmaID == Model.FirmaID
                                                                select m.musteridenAlinanOdeme).Sum() ?? 0;

                                            @(alinanTOPLAM)
                                        }
                                    </th>
                                    <th>@(@satis.Sum(a => a.musteriSatis) - alinanTOPLAM)</th>
                                    <th>

                                    </th>
                                    <th>
                                        @satis.Sum(a => a.araciHakedis)
                                    </th>
                                    <th>

                                    </th>
                                    <th>
                                        @{
                                            int hakedisTOPLAM = (from m in Db.Satis
                                                                 where m.araciFirmaID == Model.FirmaID
                                                                 select m.araciyaOdenen).Sum() ?? 0;

                                            @(hakedisTOPLAM)
                                        }
                                    </th>
                                    <th align="right">
                                    </th>
                                    <th>

                                    </th>
                                </tr>

                            }
                        </tfoot>
                    </table>
                </div>
              
                                        }
            @if (Model.Musteri == true)
            {
                <h3>@Model.FirmaAdi Müşteri Tablosu </h3>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="flip-content">
                            <tr>
                                <th>Ad-SoyAd</th>
                                <th>Email</th>
                                <th>Cep-Tel</th>
                                <th>Tel</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.YetkiliAdi @Model.YetkiliSoyAdi</td>
                                <td>@Model.Email</td>
                                <td>@Model.YetkiliCepTelefon</td>
                                <td>@Model.YetkiliTelefon</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="flip-content">
                            <tr>
                                <th>
                                    No
                                </th>
                                <th>
                                    Tarih
                                </th>
                                <th class="left">
                                    Firma
                                </th>
                                <th class="left">
                                    Satış
                                </th>
                                <th class="right">
                                    Alınan Ödeme
                                </th>
                                <th class="left">
                                    Aracı
                                </th>
                                <th class="left">
                                    Hakediş
                                </th>
                                <th class="right">
                                    Ödeme
                                </th>
                                <th class="right">
                                    Not
                                </th>
                                <th width="50">

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                IEnumerable<Sati> satis = from a in Db.Satis
                                                          where a.musteriFirmaID == Model.FirmaID && a.refSatisID == null
                                                          orderby a.satisTarihi descending
                                                          select a;
                                foreach (Sati cariVerisi in satis)
                                {
                                    <tr>
                                        <td>
                                            @cariVerisi.SatisID
                                        </td>
                                        <td>
                                            @String.Format("{0:dd/MM/yyyy}", cariVerisi.satisTarihi)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("SatisOdemeEkle", "Web", new { satisID = cariVerisi.SatisID })">
                                                @cariVerisi.Firma.FirmaAdi
                                            </a>
                                        </td>
                                        <td>
                                            @cariVerisi.musteriSatis
                                        </td>
                                        <td>
                                            @{
                                                int odemetoplami = (from m in Db.Satis
                                                                    where m.refSatisID == cariVerisi.SatisID
                                                                    select m.musteridenAlinanOdeme).Sum() ?? 0;

                                                @((cariVerisi.musteridenAlinanOdeme ?? 0) + odemetoplami)
                                            }
                                        </td>
                                        <td>
                                            <a href="@Url.Action("SatisOdemeEkle", "Web", new { satisID = cariVerisi.SatisID })">
                                                @cariVerisi.Firma1.FirmaAdi
                                            </a>
                                        </td>
                                        <td>
                                            @cariVerisi.araciHakedis
                                        </td>
                                        <td>
                                            @{
                                                int hakedistoplami = (from m in Db.Satis
                                                                      where m.refSatisID == cariVerisi.SatisID
                                                                      select m.araciyaOdenen).Sum() ?? 0;

                                                @((cariVerisi.araciyaOdenen ?? 0) + hakedistoplami)
                                            }
                                        </td>
                                        <td align="right">
                                            @cariVerisi.satisNot
                                        </td>
                                        <td>
                                            <a href="@Url.Action("SatisOdemeEkle", "Web", new { satisID = cariVerisi.SatisID })">
                                                <img src="/Content/images/add.png" hspace="2" border="0" alt="İşlem Ekle">
                                            </a>

                                        </td>
                                    </tr>

                                                }
                            }
                        </tbody>

                    </table>
                </div>
                    }

                    @if (Model.Kasa == true && User.IsInRole("Yonetim"))
                    {
                           <div class="table-scrollable">
                               <table class="table table-striped table-bordered table-hover">
                                   <tr>
                                       <td width="400" valign="top">
                                           <h2>@DateTime.Now.Year</h2>
                                           <table class="table  table-striped table-bordered">
                                               <tr>
                                                   <th>
                                                       Dönem
                                                   </th>
                                                   <th>
                                                       Giriş
                                                   </th>
                                                   <th>
                                                       Çıkış
                                                   </th>
                                                   <th>
                                                       Kar / Zarar
                                                   </th>
                                               </tr>

                                               @for (int i = 0; i <= 11; i++)
                                               {
                                                   Thread.CurrentThread.CurrentCulture = new CultureInfo("tr-TR");
                                                   Thread.CurrentThread.CurrentUICulture = Thread.CurrentThread.CurrentCulture;
                                                   int x = i + 1;
                                                   int buayalinan = (from q in Db.CariHarekets
                                                                     where q.ChTarihi.Value.Month == x && q.RefFirmaID == Model.FirmaID && q.ChTarihi.Value.Year == DateTime.Now.Year
                                                                     orderby q.ChTarihi descending
                                                                     select q.ChAlinanOdeme).Sum() ?? 0;



                                                   int buaysatis = (from q in Db.CariHarekets
                                                                    where q.ChTarihi.Value.Month == x && q.RefFirmaID == Model.FirmaID && q.ChTarihi.Value.Year == DateTime.Now.Year
                                                                    orderby q.ChTarihi descending
                                                                    select q.ChSatisFiyati).Sum() ?? 0;

                                                   donemCikis = buayalinan + donemCikis;
                                                   donemGiris = buaysatis + donemGiris;

                                                   string karzarar = "kar";

                                                   if (buayalinan > buaysatis)
                                                   {
                                                       karzarar = "zarar";
                                                   }

                                                   <tr>
                                                       <td>
                                                           @CultureInfo.CurrentUICulture.DateTimeFormat.MonthNames[i]
                                                       </td>
                                                       <td align="right">
                                                           @(buaysatis)
                                                       </td>
                                                       <td align="right">
                                                           @(buayalinan)
                                                       </td>
                                                       <td align="right" class="@(karzarar)">
                                                           @(buaysatis - buayalinan)
                                                       </td>
                                                   </tr>
                                               }
                                               <tfoot>
                                                   <tr>

                                                       <td>
                                                           Toplam
                                                       </td>
                                                       <td align="right">
                                                           @donemGiris
                                                       </td>
                                                       <td align="right">
                                                           @donemCikis
                                                       </td>@{
                                                           string karzarar2 = "kar";

                                                           if (donemCikis > donemGiris)
                                                           {
                                                               karzarar2 = "zarar";
                                                           }
                                                       }
                                                       <td align="right" class="@(karzarar2)">
                                                           @(donemGiris - donemCikis)
                                                       </td>
                                                   </tr>
                                               </tfoot>
                                           </table>
                                           <h2>@(DateTime.Now.Year - 1)</h2>
                                           <table class="table  table-striped table-bordered">
                                               <tr>
                                                   <th>
                                                       Dönem
                                                   </th>
                                                   <th>
                                                       Giriş
                                                   </th>
                                                   <th>
                                                       Çıkış
                                                   </th>
                                                   <th>
                                                       Kar / Zarar
                                                   </th>
                                               </tr>
                                               @{
                                                   donemCikis = 0; donemGiris = 0;
                                               }
                                               @for (int i = 0; i <= 11; i++)
                                               {
                                                   Thread.CurrentThread.CurrentCulture = new CultureInfo("tr-TR");
                                                   Thread.CurrentThread.CurrentUICulture = Thread.CurrentThread.CurrentCulture;
                                                   int x = i + 1;
                                                   int buayalinan = (from q in Db.CariHarekets
                                                                     where q.ChTarihi.Value.Month == x && q.RefFirmaID == Model.FirmaID && q.ChTarihi.Value.Year == DateTime.Now.Year - 1
                                                                     orderby q.ChTarihi descending
                                                                     select q.ChAlinanOdeme).Sum() ?? 0;



                                                   int buaysatis = (from q in Db.CariHarekets
                                                                    where q.ChTarihi.Value.Month == x && q.RefFirmaID == Model.FirmaID && q.ChTarihi.Value.Year == DateTime.Now.Year - 1
                                                                    orderby q.ChTarihi descending
                                                                    select q.ChSatisFiyati).Sum() ?? 0;

                                                   donemCikis = buayalinan + donemCikis;
                                                   donemGiris = buaysatis + donemGiris;

                                                   string karzarar = "kar";

                                                   if (buayalinan > buaysatis)
                                                   {
                                                       karzarar = "zarar";
                                                   }

                                                   <tr>
                                                       <td>
                                                           @CultureInfo.CurrentUICulture.DateTimeFormat.MonthNames[i]
                                                       </td>
                                                       <td align="right">
                                                           @(buaysatis)
                                                       </td>
                                                       <td align="right">
                                                           @(buayalinan)
                                                       </td>
                                                       <td align="right" class="@(karzarar)">
                                                           @(buaysatis - buayalinan)
                                                       </td>
                                                   </tr>
                                               }
                                               <tfoot>
                                                   <tr>

                                                       <td>
                                                           Toplam
                                                       </td>
                                                       <td align="right">
                                                           @donemGiris
                                                       </td>
                                                       <td align="right">
                                                           @donemCikis
                                                       </td>@{
                                                           karzarar2 = "kar";

                                                           if (donemCikis > donemGiris)
                                                           {
                                                               karzarar2 = "zarar";
                                                           }
                                                       }
                                                       <td align="right" class="@(karzarar2)">
                                                           @(donemGiris - donemCikis)
                                                       </td>
                                                   </tr>
                                               </tfoot>
                                           </table>
                                       </td>
                                       <td width="400">

                                           <table class="table  table-striped table-bordered">
                                               <thead>
                                                   <tr>
                                                       <th>
                                                           No
                                                       </th>
                                                       <th>
                                                           Tarih
                                                       </th>
                                                       <th class="left">
                                                           Giriş
                                                       </th>
                                                       <th class="right">
                                                           Çıkış
                                                       </th>
                                                       <th class="left">
                                                           Not
                                                       </th>
                                                   </tr>
                                               </thead>
                                               <tbody>
                                                   @{
                                                       IEnumerable<CariHareket> carihareketler = from q in Db.CariHarekets
                                                                                                 where q.RefFirmaID == Model.FirmaID
                                                                                                 orderby q.ChTarihi descending
                                                                                                 select q;

                                                       foreach (CariHareket cariVerisi in carihareketler)
                                                       {
                                                           <tr>
                                                               <td>@cariVerisi.ChID</td>
                                                               <td>
                                                                   @String.Format("{0:dd/MM/yyyy}", cariVerisi.ChTarihi)
                                                               </td>
                                                               <td>
                                                                   @cariVerisi.ChSatisFiyati
                                                               </td>
                                                               <td>
                                                                   @cariVerisi.ChAlinanOdeme
                                                               </td>
                                                               <td align="left">
                                                                   @cariVerisi.ChNot
                                                               </td>
                                                           </tr>
                                                       }
                                                   }
                                               </tbody>

                                           </table>
                                       </td>
                                   </tr>
                               </table>
                           </div>       
                           
                    }

                @if (Model.Personel == true && User.IsInRole("Yonetim"))
                {
                    <h2>@Model.FirmaAdi Personel Tablosu </h2>
                    <table class="table  table-striped table-bordered">
                        <tr>
                            <td width="400" valign="top">
                                <table class="table  table-striped table-bordered">
                                    <tr>
                                        <th>
                                            Dönem
                                        </th>
                                        <th>
                                            Maaş
                                        </th>
                                    </tr>

                                    @for (int i = 0; i <= 11; i++)
                                    {
                                        Thread.CurrentThread.CurrentCulture = new CultureInfo("tr-TR");
                                        Thread.CurrentThread.CurrentUICulture = Thread.CurrentThread.CurrentCulture;
                                        int x = i + 1;
                                        int buayalinan = (from q in Db.CariHarekets
                                                            where q.ChTarihi.Value.Month == x && q.RefFirmaID == Model.FirmaID && q.ChTuru == "maas" && q.ChTarihi.Value.Year == DateTime.Now.Year
                                                            select q.ChSatisFiyati).Sum() ?? 0;
                                        donemCikis = buayalinan + donemCikis;
                                        <tr>
                                            <td>
                                                @CultureInfo.CurrentUICulture.DateTimeFormat.MonthNames[i]
                                            </td>
                                            <td align="right">
                                                @(buayalinan)
                                            </td>
                                        </tr>
                                    }
                                    <tfoot>
                                        <tr>

                                            <td>
                                                Toplam
                                            </td>
                                            <td align="right">
                                                @donemCikis
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </td>
                            <td width="400">

                                <table class="table  table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                No
                                            </th>
                                            <th>
                                                Tarih
                                            </th>
                                            <th class="right">
                                                Maaş
                                            </th>
                                            <th class="right">
                                                Not
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            IEnumerable<CariHareket> carihareketler = from q in Db.CariHarekets
                                                                                        where q.RefFirmaID == Model.FirmaID && q.ChTuru == "maas"
                                                                                        orderby q.ChTarihi descending
                                                                                        select q;

                                            foreach (CariHareket cariVerisi in carihareketler)
                                            {
                                                <tr>
                                                    <td>@cariVerisi.ChID</td>
                                                    <td>
                                                        @String.Format("{0:dd/MM/yyyy}", cariVerisi.ChTarihi)
                                                    </td>
                                                    <td>
                                                        @cariVerisi.ChSatisFiyati
                                                    </td>
                                                    <td align="right">
                                                        @cariVerisi.ChNot
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>

                                </table>

                            </td>
                        </tr>
                    </table>
                                            }




                @if (Fonksiyonlar.GetirFirmaDomainleri(Model.FirmaID).Count() > 0)
                {
                    <h3>@Model.FirmaAdi Domain Listesi</h3>
                    <table class="table table-bordered table-striped">
                        <thead>
                            @Html.Partial("/Views/Shared/_DomainUstSatiri.cshtml")
                        </thead>
                        <tbody>

                            @{

                                foreach (Domain domainVerisi in Fonksiyonlar.GetirFirmaDomainleri(Model.FirmaID))
                                {

                                    @Html.Partial("/Views/Shared/_DomainSatiri.cshtml", domainVerisi)


                                }
                            }
                        </tbody>
                    </table>
                                }


                @if (Fonksiyonlar.GetirCariHareketler(Model.FirmaID).Count() >= 1 && (Model.Kasa == null || Model.Kasa == false) && User.IsInRole("Yonetim"))
                {
                    <h3>@Model.FirmaAdi Cari Hareket Detayları</h3>
                    <table class="table  table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    No
                                </th>
                                <th>
                                    Tarih
                                </th>
                                <th>
                                    Firma
                                </th>
                                <th align="right" width="100">
                                    Alacak
                                </th>
                                <th align="right" width="100">
                                    Verecek
                                </th>
                                <th>
                                    Not
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int toplamAlinan = 0;
                                int toplamAlacak = 0;
                                foreach (CariHareket cariVerisi in Fonksiyonlar.GetirCariHareketler(Model.FirmaID))
                                {
                                    toplamAlacak = toplamAlacak + (cariVerisi.ChAlinanOdeme ?? 0);
                                    toplamAlinan = toplamAlinan + (cariVerisi.ChSatisFiyati ?? 0);
                                    <tr>
                                        <td>@cariVerisi.ChID</td>
                                        <td>
                                            @String.Format("{0:dd/MM/yyyy}", cariVerisi.ChTarihi)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("CariHareketDetay", "Web", new { firmaID = cariVerisi.RefFirmaID })">
                                                @cariVerisi.Firma.FirmaAdi
                                            </a>
                                        </td>
                                        <td align="right">
                                            @cariVerisi.ChAlinanOdeme
                                        </td>
                                        <td align="right">
                                            @cariVerisi.ChSatisFiyati
                                        </td>
                                        <td>
                                            @cariVerisi.ChNot
                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th align="right" width="100">
                                    @toplamAlacak
                                </th>
                                <th align="right" width="100">
                                    @toplamAlinan
                                </th>
                                <th>
                                    @(toplamAlacak - toplamAlinan)
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                                }
</td>
    </tr>
</table>