@model IEnumerable<Portal.Models.Sati>
@using Portal.Models;
@using Portal.Extensions;
@using Portal.Controllers;
@{
    ViewBag.Title = "Satislar";
    var Db = Database.DbHelper.GetDb;
}
<form method="post" class="" id="ekleForm" name="form1" action="@Url.Action("Satislar","CariHareket")" enctype="multipart/form-data">
    <div class="row" style="margin-bottom:5px">
        <div class="col-md-3">
            <input type="text" class="form-control" name="q" placeholder="Ara..." value="@ViewData["queryData"]" />
        </div>
        <div class="col-md-2">
            <button class="btn btn-default blue" type="submit">Ara</button>
        </div>
    </div>
</form>
<div class="table-scrollable">
    <table class="table table-striped table-bordered table-hover">
        <thead class="flip-content">
            <tr>
                <th>
                    No
                </th>
                <th>
                    Tarih
                </th>
                <th class="left">
                    Firma
                </th>
                <th class="left">
                    Satış
                </th>
                <th class="right">
                    Alınan Ödeme
                </th>
                <th class="left">
                    Aracı
                </th>
                <th class="left">
                    Hakediş
                </th>
                <th class="right">
                    Ödeme
                </th>
                <th class="right">
                    Not
                </th>
                <th width="50">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.SatisID
                    </td>
                    <td>
                        @String.Format("{0:dd/MM/yyyy}", item.satisTarihi)
                    </td>
                    <td>
                        <a href="@Url.Action("SatisOdemeEkle", "CariHareket", new { satisID = item.SatisID })">
                            @item.Firma.FirmaAdi
                        </a>
                    </td>
                    <td>
                       
                     <a href="#" class="satisFiyat"  data-pk="@item.SatisID" data-title="Fiyat giriniz">@item.musteriSatis </a> 
                    </td>
                    <td>
                        @{
                            int odemetoplami = (from m in Db.Satis
                                                where m.refSatisID == item.SatisID
                                                select m.musteridenAlinanOdeme).Sum() ?? 0;

                            @((item.musteridenAlinanOdeme ?? 0) + odemetoplami)
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("SatisOdemeEkle", "CariHareket", new { satisID = item.SatisID })">
                            @item.Firma1.FirmaAdi
                        </a>
                    </td>
                    <td>
                        @item.araciHakedis
                    </td>
                    <td>
                        @{
                            int hakedistoplami = (from m in Db.Satis
                                                  where m.refSatisID == item.SatisID
                                                  select m.araciyaOdenen).Sum() ?? 0;

                            @((item.araciyaOdenen ?? 0) + hakedistoplami)
                        }
                    </td>
                    <td align="right">
                        @item.satisNot
                    </td>
                    <td>
                        <span>
                            <a href="@Url.Action("SatisOdemeEkle", "CariHareket", new { satisID = item.SatisID })">
                                <img src="/Content/images/add.png" hspace="2" border="0" alt="İşlem Ekle">
                            </a>
                            
                            <a href="@Url.Action("SatisDuzenle", "CariHareket", new { satisID = item.SatisID })">
                              Düzenle
                            </a>
                            <a href="#" onclick="satisSil(@item.SatisID)">
                                Sil
                            </a>
                        </span>
                    </td>
                </tr>
                            }
        </tbody>

    </table>
</div>
<div style="text-align:center">

    @if (ViewBag.Sayfalama.TotalCount > 0)
    {
        @Html.Pager(ViewBag.Sayfalama as PaginatedList, ViewData["queryData"] as string, (int? page, HtmlHelper htmlHelper, string queryData) =>
                string.Format("{0}", this.Html.BuildUrlFromExpressionFG<CariHareketController>(c => c.Satislar(page, queryData))))
    }
</div>
@section scripts{
<script src="/Content/assets/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.js" type="text/javascript"></script>
    <script>
        function satisSil(id) {
            if (confirm("Silmek istediğinizden eminmisiniz?")) {
                location.href = "/CariHareket/SatisSil/" + id;
            }
        }
        $(function () {
            $.fn.editable.defaults.mode = 'popup';
            $('.satisFiyat').editable({
                url: '/CariHareket/SatisFiyatDegistir',
                //params: { domainId: $(this).data('pk'), note: $(this).data('name') },
                type: 'text',
                name: 'Fiyat',
                title: 'Fiyat Giriniz',
                success: function (response, newValue) {
                    console.log(newValue);
                    //userModel.set('username', newValue); //update backbone model
                },
                validate: function (x) {
                    let result= confirm("Fiyat değişecek emin misiniz?", function (result) {
                        if (result == false) {
                            return "invalid";
                        } else {
                            return "";
                        }
                    });
                }
            });

        });
    </script>
    
    }
